@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Sidebar Styles */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background: #11101d;
    height: 100%;
    width: 260px;
    z-index: 100;
    transition: all 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
}

.sidebar.close {
    width: 78px;
}

.sidebar.close .category-header {
    display: none;
}

.sidebar .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar .logo-details i{
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}

.sidebar .logo-details .logo_name{
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name {
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}

.category-header .category_header {
    color: #f0f2f5;
    margin: 5px 10px;
}

.sidebar.close .navigation-links {
    overflow: auto;
}

.sidebar .navigation-links {
    height: 100%;
    padding: 8px 0 150px 0;
    overflow: auto; /* Scroll */
}

.sidebar .navigation-links::-webkit-scrollbar {
    display: none;
}

.sidebar .navigation-links li {
    list-style: none;
    position: relative;
    transition: all 0.4s ease;
}

.sidebar .navigation-links li:hover {
    background: #1d1b31;
}

.sidebar .navigation-links li .icon-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .navigation-links li .icon-link {
    display: block;
}

.sidebar .navigation-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

#btnAdd {
    margin: 8px auto;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 4px 8px;
}

#btnAdd i {
    font-size: 14px;
}

#btnAdd:hover {
    background-color: #1d1b31
}

.add-button {
    background-color: transparent;
    color: white;
}

.sidebar .navigation-links li.showMenu i.arrow{
    transform: rotate(-180deg);
}

.sidebar.close .navigation-links i.arrow{
    display: none;
}

.sidebar .navigation-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .navigation-links li a .nav-item-name {
    font-size: 18px;
    font-weight: 400;
    max-width: 160px; /* Otherwise flows though side panel */
    overflow-wrap: break-word; /* Long words wrap to next line */
    color: #fff;
}

.sidebar.close .navigation-links li a .nav-item-name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .navigation-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #1d1b31;
    display: none;
}

.sidebar .navigation-links li.showMenu .sub-menu {
    display:block;
}

.sidebar .navigation-links li .sub-menu a{
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.sidebar .navigation-links li .sub-menu a:hover {
    opacity: 1;
}

.sidebar.close .navigation-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    transition: 0s;
    opacity: 0;
    display: block;
    pointer-events: none;
}

.sidebar.close .navigation-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar .navigation-links li .sub-menu .nav-item-name {
    display: none;
}

.sidebar .navigation-links li .sub-menu .nav-item-name {
    display: none;
}

.sidebar.close .navigation-links li .sub-menu .nav-item-name {
    font-size: 18px;
    opacity: 1;
}

.sidebar .navigation-links li .sub-menu.blank{
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.sidebar .navigation-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}

/* Main Section Styles */

.main-section {
    position: relative;
    background: #f0f2f5;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}

.sidebar.close ~ .main-section {
    left: 78px;
    width: calc(100% - 78px);
}

.main-section {
    display: flex;
    height: 100vh;
    flex-flow: column;
}

.main-section .main-content {
    height: 60px;
    display: flex;
    align-items: center;
}

.main-section .main-content .bx-menu,
.main-section .main-content .text {
    color: #11101d;
    font-size: 35px;
}

.main-section .main-content .bx-menu {
    margin: 0 15px;
    cursor: pointer;
}

.main-section .main-content .text {
    font-size: 26px;
    font-weight: 600;
}

/* Bookmarks Stylng */

.bookmark-container {
    margin: 0 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 90vh;
}

.bookmark-form {
    margin: 15px 0;
}

.bookmark-form > h2 {
    margin-bottom: 15px;
}

#website-name, #website-url {
    padding: 4px;
}

.bookmarks {
    /* border: 1px solid black; */
    border-radius: 4px;
    overflow-y: auto;
    /* width: 100%; */
    margin: 10px 0 20px 0;
    height: 75vh;
}

.bookmarks > ul {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start; /* Differing item widths */
}

.bookmarks > div {
    border: 1px solid purple;
}

.bookmarks div ul {
    display: flex;
}

.bookmarks li {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 245px;
    margin-right: 15px;
}

.bookmark {
    margin: 4px;
    border: 1px solid #bdb0b0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px;
}

.bookmark .bookmark-body .bookmark-footer {
    padding: 5px;
}

.bookmark-header {
    height: 100px;
    /* width: 100px; */
    border: 1px solid red;
}

.bookmark-body {
    margin: 4px;
    display: flex;
    flex-flow: row wrap;
    flex: 1;
}

.bookmark-footer {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.bookmark-footer > button {
    padding: 4px;
    margin: 4px;
    width: 75px;
}


/* .bookmark-body span {
    display: block;
} */

.bookmark-body span:first-child {
    display: block;
    overflow: hidden;
    width: 100%;
    overflow-wrap: break-word;
    font-weight: bold;
    /* text-overflow: ellipsis; */
}

.bookmark-body span:last-child {
    display: block;
    margin-top: 4px;
    font-style: italic;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    font-size: 14px;
}

.bookmarkForm {
    margin-bottom: 20px;
}

.input-field {
    display: inline;
}

.edit-input-field {
    display: block;
    margin: 8px 4px;
}

.save-bookmark-btn {
    padding: 5px;
}

/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    border-radius: 4px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* overflow: auto; */
     /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }

  .modal hr {
      width: 100%;
      margin: 20px 0px;
  }
  
  /* Modal Content Container */
  .modal-content {
    position: absolute;
    border-radius: 8px;
    background-color: #f0f2f5;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
    min-width: 200px; /* Prevent from getting too small */
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:0px; opacity:0} 
    to {top: 50%; opacity:1}
  }
  
@keyframes animatetop {
    from {top:0px; opacity:0}
    to {top:50%; opacity:1}
}
  
  .close-modal {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-modal:hover,
  .close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .categoryForm {
      margin: 15px auto;
  }

  #categoryItems {
      margin: 5px 0px;
      max-height: 300px;
      overflow-y: auto;
      border: 1px solid lightgrey;
      border-radius: 4px;
      text-decoration: none;
      list-style: none;
  }

  #categoryItems li {
      margin: 10px;
  }

  .category-item {
      border: 1px solid #bdb0b0;
      border-radius: 4px;
      /* padding-left: 10px; */
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .category-item span {
      display: flex;
      justify-content: center;
      margin: 4px;
      word-break: break-word;
  }
  
  .category-item-buttons {
    display: flex;
    flex-flow: row wrap;
}

  .category-item-buttons button {
      flex: 40%;
  }

  #category-name {
      padding: 4px;
  }

  .category-name-label {
      display: block;
      text-decoration: underline;
  }

  #addCategoryBtn {
      padding: 4px;
  }

  .delete-category-button {
      margin: 8px;
      padding: 4px;
  }

  .rename-category-button {
      margin: 8px;
      padding: 4px;
  }

  .save-categories {
      margin: 4px;
      padding: 4px;
  }

  .active {
    background: #1d1b31;
  }

  .save-edit {
      padding: 4px;
  }

  #bookmark-name, #bookmark-url {
    padding: 4px;
}

  .edit-input-field label {
      display: block;
  }

  .edit-input-field input {
      width: 100%;
  }

  input {
      border-radius: 4px;
      border: 1px solid #bdb0b0;
  }

  #bookmarkOpResult {
      margin-bottom: 8px;
  }

/* Site button styles */

button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 4px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  color: #24292E;
  display: inline-block;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

button:hover {
  background-color: #e4e4e4;
  text-decoration: none;
  transition-duration: 0.1s;
}

button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

button:focus {
  outline: 1px transparent;
}

button:before {
  display: none;
}

button:-webkit-details-marker {
  display: none;
}

#categoryOpResult {
    margin-bottom: 4px;
}